<div {{on-key '_all' this.triggerOnAlphaNumeric}}>

  <button
    type='button'
    class='absolute left-0 w-full bottom-0 m-0 px-3 py-1 border border-gray-400 bg-gray-100 hover:bg-gray-200 shadow-sm disabled:text-gray-400 disabled:hover:bg-gray-100 disabled:cursor-not-allowed'
    {{on 'click' this.handleKickoff}}
  >Release the hounds!</button>

</div>
