<div>
  <p class='text-sm uppercase font-semibold text-gray-400'>Elevator</p>

  <ul
    class='space-y-reverse justify-between m-2 inline-flex text-center flex-col-reverse'
  >
    {{#each this.floors as |floorNum|}}
      <Floor
        @floor={{floorNum}}
        @isCurrent={{eq floorNum this.elevator.currentFloor}}
        class='my-2'
      />
    {{/each}}
  </ul>
</div>
