<div ...attributes>
  <p class='text-sm uppercase font-semibold text-gray-400'>In Elevator Queue</p>

  <ul class=''>
    {{#if this.passengers}}
      <li>Person wants to go to floor
        {{this.passengers.requestedFloor}}</li>
    {{else}}
      <li>No one in the elevator</li>
    {{/if}}
  </ul>
</div>
